<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lauren &amp; Tom</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/landing-page.css')}}" rel="stylesheet" type="text/css">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <!--<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
       <!-- <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
           <!-- <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <!-- <a class="navbar-brand topnav" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
           <!--  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Venue</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div> -->
            <!-- /.navbar-collapse -->
      <!--  </div>
        <!-- /.container -->
   <!-- </nav>


    <!-- Header -->
    <div class="intro-header_gifts">
  
        <div class="container">
 <!--<div>
  <ul id="carousel">
    <li><img src="{{ url_for('static', filename='img/8273_10153758698693961_2823703575357485122_n.jpg')}}" /></li>
    <li><img src="{{ url_for('static', filename='img/8355_10153758690543961_6048830662769378120_n.jpg')}}" />
        </li>
    <li><img src="{{ url_for('static', filename='img/10600644_10153758705543961_1571839380488488781_n.jpg')}}" />
       </li>
    <li><img src="{{ url_for('static', filename='img/8273_10153758698693961_2823703575357485122_n.jpg')}}" />
       </li>
       <li><img src="{{ url_for('static', filename='img/12573662_10153758741378961_2930299475039424555_n.jpg')}}" />  </li>
       <li> <img src="{{ url_for('static', filename='img/12670755_10153758627853961_2631690399034608030_n.jpg')}}" /></li>
  </ul>
   
    </div>-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Gifts</h1>
                         <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                           <li>
                                <a href="/contact" class="btn btn-default btn-lg"><i></i> <span class="network-name">Contact</span></a>
                            </li>
                            <li>
                                <a href="/food" class="btn btn-default btn-lg"><i></i> <span class="network-name">Food</span></a>
                            </li>
                           <li>
                                <a href="
                                /" class="btn btn-default btn-lg"><i></i> <span class="network-name">Home</span></a>
                            </li>
                            
                            
                            <li>
                                <a href="
                                /venue" class="btn btn-default btn-lg"><i></i> <span class="network-name">Venue</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Gifts</h2>
                    <p class="lead">Tom and Lauren are looking forward to some rest and relaxation after the exquisite chaos that is planning a Wedding. Though not required, any contributions to the Honeymoon will be greatly appreciated. You can also view our gift list by<a href="">  entering Gift List number 1234567 on this page</a>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="static/img/IMG_0002.JPG" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

   
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Questions?</h2>
                    <p>If you have a burning question or logistical quandry, <a target="_self" href="/contact">let us know!</a></p>
                </div>
                <div class="col-lg-6">
                    
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                       <ul class="list-inline">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/venue">Venue</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/food">Food</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                    
                    
                    </ul>
                    
                    
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
   

   <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

</body>

</html>
